@font-face {
    src: url("./assets/fonts/Roboto-ThinItalic.ttf");
    font-family: "Roboto";
    font-weight: 100;
    font-style: italic;
  }
@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Medium.ttf");
    font-weight: 500;
  }
  * {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .header {
    border: 1px solid rgba(255, 255, 0, 0.87);
    background: linear-gradient(93deg, rgb(222 251 233) 20%, rgb(0 82 82 / 60%) 78%); 
  }
  .container-main {
    max-width: 1440px;
  }
  .footer {
    border: 1px solid rgba(255, 255, 0, 0.87);
    background: linear-gradient(93deg, rgb(222 251 233) 20%, rgb(0 82 82 / 60%) 78%);   }
  .header.container {
    border: 1px solid black;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: rgb(36, 39, 4);
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
  }
  .nav-link:hover {
    text-decoration:underline;
  }
  .nav-link:active {
    text-decoration:underline;
    color: rgba(219, 219, 56, 0.905);
    transition: 0.3s;
  }
  a {
    color:chartreuse;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgb(22, 19, 19);
  }
  
  a:hover {
    text-decoration:underline;
  }
  
  p {
    font-size: 23px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 1.5;
  }
  
  .section {
    background-color: rgba(64, 80, 81, 0.73);
    color:white;
    border-bottom: thick double #2498b249;
    padding-left: 50px;
  }
  
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }
  .section-one{
    width: 50%;
    background-color:rgba(65, 126, 4, 0.47);
  }
  
  section li {
    list-style: circle;
    font-size: 23px;
  }

  
  .section-title {
    margin: 0;
    padding: 30px;
    text-shadow: 2px 2px 5px rgb(22, 19, 19);
    color: rgba(219, 219, 56, 0.905);
  }
  h1.section-title {
    font-family: "Roboto";
    font-size: 34px;
    font-weight: 500;
    margin-right: 10%;
    text-align: center;
    margin-top: 100px ;
    color: rgba(218, 218, 13, 0.905);
    text-shadow: 2px 2px 5px rgb(22, 19, 19);
}
h2 {
    text-align: start;
    font-size: 33px;
    padding-left: 10px;
    line-height: 1.5;
}

  .title-container {
    display: flex;
    flex-direction: row;
    justify-content:end;
    margin: 0px auto;
  }
   
  .picture-img {
    width: 200px;
    margin-right: 0px;

  }
  
  .footer-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
  }
  .footer_icon{
    scale: 1;
  }
  .footer_icon:hover {
    scale: 1.2;
  }
  .footer-link {
    width:100px;
  }